API_ROOT_URL = ""
PROMPTED_INPAINTING_INFERENCE_URL = "http://127.0.0.1:8005/prompted_inpainting"
CORS_DOMAINS = "['http://localhost:3000']"
MODEL_API_KEY = 
HF_ENDPOINT_URL = 
HF_TOKEN = 

# users
USERS_OPEN_REGISTRATION=True

# Postgres
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=test1234
POSTGRES_DB=app

# PgAdmin
PGADMIN_LISTEN_PORT=5050
PGADMIN_DEFAULT_EMAIL=test@test.com
PGADMIN_DEFAULT_PASSWORD=test1234